# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: npm ci
- script: npm run tsc

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      index.html
      out/*.js
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: AzureStaticWebApp@0
  inputs:
    app_location: '$(Build.ArtifactStagingDirectory)'
    output_location: ''
    azure_static_web_apps_api_token: $(deployment_token)